body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.container
{
	width: 90%;
	margin: 0 auto;
}
.add
{
	background: linear-gradient(0turn,  #ebf8e1, #3f87a6);
}
.add__inner
{
	display: flex;
	 
	height: 100vh;

}
.wrapper
{
align-items: center;
justify-content: center;
 display: flex;
 min-height: 100vh;
  
}
h1
{
   
	 
	color: #fff;
    
	margin-right: 30px;

}
 form
{
	display: flex;
	flex-direction: column;

	 
	 
}
 form input
{
	width: 400px;
	padding: 10px 0px;
	border-radius: 5px;
	border: 1px solid transparent;
	color: #3f87a6;

}
 form input:hover
{
	border: 1px solid #3f87a6; 
	transition: 0.5s;
}
 form input[ type = submit]
{
	border: 1px solid #fff; 
	background-color:  #3f87a6;
	opacity: 0.8;
	color: #ebf8e1;
	font-size: 19px;
}
  form input[ type = submit]:hover
{
	cursor: pointer;
	opacity: 1;
	 
}
  form input[ type = submit]:hover
{
	transition: 0.5s;
	border: 1px solid #3f87a6; 
	background-color: #fff;
	 
	color: #3f87a6;
	font-size: 19px;
}
  
textarea
{
	height: 400px;
}
label[for = title]
{
    padding-top: 30px;
}
label
{
	color: #3f87a6; 
}
 label[for = title], label[for = descr]
 {
 	color: #fff;
 }

 .error
{
	 
       display: none;
}
.visible
{
    display: block;
    opacity: 0.7; 
    
 transition: 2.5s ;
}
.visible:hover
{
    opacity: 0;
}
.error__inner
{
	 
	position: absolute;
	width: 20%;
	top: 10px;
	left: 50%;
	margin-left: -10%;
	text-align: center;
	color: red;
 
	 

}
.error__inner p
{
	padding: 5px 0px;
	background-color: #54f542;
	opacity: 0.8;
	border-radius: 5px;
 
}
 





 
@media (max-width: 960px) {
    .error__inner
{
	 
	width: 50%;
	margin-left: -25%;
	 

}
	form input[ type = submit]
{
	border: 1px solid #fff; 
	background-color:  #3f87a6;
	opacity: 0.8;
	color: #ebf8e1;
	font-size: 16px;
	margin-top: 10px;
	padding: 5px 0px 11px 0px;
}
 
 
.wrapper
{
height: 100vh;
}

form input, textarea

{
	width: 200px;
	padding: 10px 0px;
	font-size: 16px;
	overflow: hidden;

}
form
{
  height: 500px;
  display: flex;
	justify-content: center;
	align-items: center;


}
h1
{
	font-size: 18px;
}
.wrapper
{
	flex-direction: column;
}
 
}
@media (max-width: 370px) {

 form input, textarea
{
	width: 250px;
	padding: 5px 0px;
	font-size: 16px;
	overflow: hidden;

}
form
{
  height: auto;

}
.wrapper
{
  height: auto;

	 }
.login__inner
{

}
}