body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.container
{
	width: 90%;
	margin: 0 auto;
}
.login
{
	background: linear-gradient(0turn,  #ebf8e1, #3f87a6);
}
.login__inner
{
	display: flex;
	justify-content: center;
	align-items: center;
	 
	height: 100vh;

}
.login__inner form
{
	display: flex;
	flex-direction: column;

	 
	 
}
.login__inner form input
{
	width: 400px;
	padding: 10px 0px;
	border-radius: 5px;
	border: 1px solid transparent;
	color: #3f87a6;

}
.login__inner form input:hover
{
	border: 1px solid #3f87a6; 
	transition: 0.5s;
}
.login__inner form input[ type = submit]
{
	border: 1px solid #fff; 
	background-color:  #3f87a6;
	opacity: 0.8;
	color: #ebf8e1;
	font-size: 19px;
}
.login__inner form input[ type = submit]:hover
{
	cursor: pointer;
	opacity: 1;
	 
}
.login__inner form input[ type = submit]:hover
{
	transition: 0.5s;
	border: 1px solid #3f87a6; 
	background-color: #fff;
	 
	color: #3f87a6;
	font-size: 19px;
}
.login__inner form input[id = password]
{
	margin: 10px 0px;
}
.error
{
	 
       display: none;
}
.visible
{
    display: block;
     opacity: 0.8;
 transition: 2.5s ;
}
.visible:hover
{
    opacity: 0;
}
.error__inner
{
	 
	position: absolute;
	width: 20%;
	top: 10px;
	left: 50%;
	margin-left: -10%;
	text-align: center;
	color: red;
 
	 

}
.error__inner p
{
	padding: 5px 0px;
	background-color: #54f542;
	opacity: 0.8;
	border-radius: 5px;
 
}
 



 
@media (max-width: 960px) {
.error__inner
{
	 
	width: 50%;
	margin-left: -25%;
	 

}
.login__inner form input
{
	width: 320px;
	padding: 10px 0px;
	font-size: 16px;
	overflow: hidden;

}
form
{
  height: 500px;
  display: flex;
	justify-content: center;
	align-items: center;


}
.login__inner
{

}
}
@media (max-width: 370px) {

.login__inner form input
{
	width: 250px;
	padding: 10px 0px;
	font-size: 16px;
	overflow: hidden;

}
form
{
  height: auto;

}
.login__inner
{

}
}